#form-container {
    width: 100%;
    padding: 100px;
    margin: auto;
}
#left-side {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    
}
#right-side {
    width: 35%;
    display: inline-block;
    text-align: center;
    /* border-radius: 6px; */
}
#left-side p {
    font-size: 30px;
    padding-left: 28px;
    vertical-align: top;
    padding-top: 0;
    margin-top: 0;

}
input, button {
    width: 80%;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 20px 20px;
    border:0;
}
input {
    border: 1px solid #dddfe2;
}
#logIn-btn {
    background-color: #166fe5;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#outer-container {
    /* background-color: beige; */
    background-color: #eff1f4;
}
#box-rapar {
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
}

#box-rapar p{
    text-align: center;
   
}
#btn-account{
    background-color: #42b72a;
    width: auto;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
}
#box-rapar p a{
    color: #166fe5;
    text-decoration: none;
}

